.header {
  background-color: var(--main-color);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__img {
  width: 60px;
  margin-top: 10px;
  margin-left: 10px;
}
.header__menu {
  margin-right: 30px;
}
.header__menu ul {
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 120px;
  text-align: center;
  margin: 0;
  background-color: var(--main-color);
}
.header__menu:hover ul, ul:hover {
  display: block;
}
.header__menu li {
  margin: 10px 0;
}
.header__menu li a {
  color: var(--white-color);
  text-decoration: none;
}
.header__menu li a:hover {
  text-decoration: underline;
}
.header__menu--profile {
  margin-right: 8px;
  display: flex;
  align-items: center;
}
.header__menu--profile img {
  margin-right: 8px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.header__menu--profile p {
  margin: 0px;
  color: var(--white-color);
}
