@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --theme-font: 'Muli', Helvetica;
  --main-color: #00a1ff;
  --item-color: #8a2be2;
  --scroll-color: #ab88ff;
  --white-color: #fff;
}